.index {
  position: relative; height: 100%;
  display: flex; justify-content: center;
  align-items: center;
  .lock-status-wrap {
    position: absolute;
    top: 50px; right: 50px;
    font-size: 30px; height: 32px;
    color: #666;
    &.on {
      color: #3fd0f4;
      &:before {
        background: #00d3f8;
      }
    }
    &:before {
      content: ''; width: 16px; height: 16px;
      display: inline-block; margin-right: 22px;
      background: #bdbdbd; border-radius: 50%;
    }
  }
  // 锁按钮
  .lock-btn-wrap {
    flex: 0 0 412px; height: 412px;
    background: linear-gradient(200deg,#00c7fc,#00d699);
    border-radius: 50%; position: relative;
    transition: all .8s;
    &:after {
      content: ''; position: absolute; top: 50%; left: 50%;
      width: 440px; height: 440px; transform: translate3d(-50%, -50%, 0);
      background: rgba(23,203,197,0.2); border-radius: 50%; z-index: 1;
    }
    .icon {
      position: absolute; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0);
      width: 412px; height: 412px; z-index: 2;
      background: url(../../assets/img/lock-close.png) center center no-repeat;
      background-size: 120px 170px;
      transition: all .5s;
      &.active {
        width: 206px; height: 206px;
        background-size: 60px 85px;
      }
    }
    .tips {
      position: absolute; top: 300px; left: 0;
      width:100%; text-align: center;
      font-size: 30px; color: #fff;
      z-index: 4; animation: shink 1s infinite;
      @keyframes shink {
        0% { opacity: 1;}
        100% { opacity: 0.2;}
      }
    }
    .tips {
      position: absolute; top: 300px; left: 0;
      width:100%; text-align: center;
      font-size: 30px; color: #fff;
      z-index: 4; animation: shink 1s infinite;
      @keyframes shink {
        0% { opacity: 1;}
        100% { opacity: 0.2;}
      }
    }
    &.lockout {
      .icon {
        background: url(../../assets/img/lock-open.png) center center no-repeat;
        background-size: 120px 170px;
      }
    }
    &.offline {
      &::after {
        background: #ddd;
      }
    }
    &.offline {
      &::after {
        background: #ddd;
      }
    }
    &.animate {
      &:after {
        animation: bodong 1.4s infinite;
      }
    }
    .lock-input {
      position: absolute; top: 0; left: 0;
      width: 412px; height: 412px; z-index: 5;
    }
    @keyframes bodong {
      0%, 100% { width: 440px; height: 440px;}
      50% { width: 464px; height: 464px; }
    }
  }

}
